.controls {
  position: absolute;
  top: 35px; 
  right: 10px; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 3;
}

.controls button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.controls button:hover {
  background-color: #2980b9;
}

.controls i {
  font-size: 18px;
}

.graph-container.fullscreen .controls {
  top: 20px; 
}

@media only screen and (max-width: 950px) {
  .controls {
    top: 20px; 
    right: 20px;
    width: 30px;
    height: auto; 
  }

  .controls i {
    font-size: 12px; 
  }
}
