.header-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 60px; 
  margin-bottom: 20px;
  background-color: #3f8176;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  overflow: hidden;
  z-index: 1000;
}

.second-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 50px;
  height: auto;
}

.title-box {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 5px 25px;
  border-radius: 10px;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  font-family: 'Arial', sans-serif;
  flex-grow: 1; 
}

.instruction-button {
  background-color: #3f8176;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 16px;
  margin-right: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block; 
}

.instruction-button[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  right: 1px;
  top: 35px; 
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  opacity: 1;
  visibility: visible;
  white-space: nowrap;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

.instruction-button[data-tooltip]:hover::before {
  content: '';
  position: absolute;
  bottom: 115%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}


.navigate-button {
  background-color: #3f8176;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 16px;
  margin-right: 150px;
  border: none;
  font-size: 1.25rem;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 60px; 
}

.navigate-button[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  right: 1px;
  top: 35px; 
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  opacity: 1;
  visibility: visible;
  white-space: nowrap;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
}

.navigate-button[data-tooltip]:hover::before {
  content: '';
  position: absolute;
  right: 1px;
  top: 35px; 
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

@media only screen and (max-width: 950px) {
  .header-container {
    height: 50px; 
    padding: 5px 15px;
  }

  .logo {
    width: 40px;
  }

  .title-box {
    font-size: 1.2rem; 
  }

  .instruction-button {
    padding: 5px 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px; 
  }

  .navigate-button {
    font-size: 1rem; 
    margin-right: 100px; 
  }
}
