
.custom-card {
    margin: 20px auto;
    box-shadow: 0 16px 100px rgba(0, 0, 0, 0.4);
    width: 90%;
    height: 60%;
    border: 1px solid;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.1);
}

.custom-card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 50%;
    object-fit:scale-down;
    width: 100%;
    border: 0 solid;
    border-radius: 20px;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
    background-color: rgba(194, 155, 155, 0.1);


}

.card-title {
    font-weight: bold;
    font-size: 1.25rem;
  
}

.card-text {
    margin-bottom: 10px;
    
    
}



.card-button:hover {
    background-color: #0056b3;
}

.del-button {
    display:flex ;
    background-color: #3f8176;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .del-button:hover {
    background-color: #0056b3; 
    color: #e6e6e6;
  }

  .card-footer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }


@media only screen and (max-width: 1024px) {
    .custom-card {
        margin: 20px auto;
        box-shadow: 0 16px 100px rgba(0, 0, 0, 0.4);
        width: 90%;
        height: 80%;
        border: 0 solid;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
    }

    .card-title {
        font-weight: bold;
        font-size: 0.8rem;
      
    }

    .card-text {
        margin-bottom: 10px;
        font-size: 0.7rem;
    }

    .del-button {
        width: 40px;
        height: 30px;
    }

    i {
        font-size: 0.7rem;
        margin-left: -5px;
    }
    
    
    

}
  