.content {
    margin-top: 110px;
}
.white-box {
    padding-top: 20px; 
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7), 0 4px 8px rgba(0, 0, 0, 0.4)
    
}

.title {
    padding-top: 100px;
    
}


@media only screen and (max-width: 950px) {
    .content {
        margin-top: 80px;
    }
  
    h1 {
        font-size: 1rem;
    }
    .white-box {
        padding-top: 10px; 
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr); 
  }
}






