
.page-container {
  padding: 20px;
  min-height: calc(100vh - 50px); 
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
}

/* Body style */
body {
  overflow: auto; 
  margin: 0;
  padding: 0; 
  height: 100vh;
  display: flex;
  flex-direction: column;

}


.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #3f8176;
  margin-top: 20px;
}



/* Footer Styles */







@media only screen and (max-width: 950px) {
  .header {
    display: flex;            
    align-items: center;     
    justify-content:flex-start;  
    gap: 10px;                
  }

  

}
